<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/vendor/css/chessboard-0.3.0.min.css"/>
    <script data-main="/js/game.js" src="/vendor/js/require.js"></script>
    <script src="/js/requirejs-config.js"></script>
  </head>
  <body>
    <h1>This is the game page</h1>
    <p>Game ID: <%= gameID %></p>
    <p>Username: <%= username %></p>

    <h2>Ping the server</h2>
    <input id="ping" type="submit" value="Ping the server">

    <div>Seat 1: <span id="seat1"></span></div>
    <div>Seat 2: <span id="seat2"></span></div>
    <div>Seat 3: <span id="seat3"></span></div>
    <div>Seat 4: <span id="seat4"></span></div>

    <button class="sit-btn" id="sit-1">Sit in seat 1</button>
    <button class="sit-btn" id="sit-2">Sit in seat 2</button>
    <button class="sit-btn" id="sit-3">Sit in seat 3</button>
    <button class="sit-btn" id="sit-4">Sit in seat 4</button>

    <div class="bughouse-board" id="board1"></div>
    <div class="bughouse-board" id="board2"></div>

    <div hidden>
      <div id="gameID"><%= gameID %></div>
      <div id="username"><%= username %></div>
    </div>
  </body>
</html>
